/* Style */
* {
    margin: 0 0;
}

body {
    margin: 0 auto;
    background-color: #734002;
}

h1 {
    font-family: 'Nunito', Sans-Serif;
    font-size: 45px;
}

.topheading {
    background-color: #F2E313;
    text-align: center;
    padding: 30px;
    width: 90vw;
    margin: 50px auto;
    color: #734002;
}

nav {
    padding: 10px 0;
    margin: 20px auto;
}

ul {
    list-style-type: "";
}

.topheading li {
    background-color: #A69B03;
    display: inline-block;
    font-family: 'PT Sans', Sans-Serif;
    font-size: 1.2em;
    color: #734002;
    padding: 0 10px;
    margin: 0 10px;

}

.topheading li:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Nunito', Sans-Serif;
    font-size: 30px;
    color: #DFF2F0;
    margin: 30px 0; 
}

.text-style h2 {
    margin: 0 0;
}

h3 {
    font-family: 'PT Sans', Sans-Serif;
    font-size: 25px;
}

p {
    font-family: 'PT Sans', Sans-Serif;
    font-size: 17px;
}

section {
    padding: 20px 30px 60px 30px;
    width: 90vw;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    background-color: #A69B03;
}

button {
    width: 8%;
    border-radius: 5px;
    margin: 40px 90%;
    background-color: #734002;
    color: #F2E313;
    padding: 10px;
}

.exampleButton {
    margin: 10px 0;
}

.button-style {
    border: 10px solid #734002;
    padding: 20px;
}

/* Colors */
.boxesOpEenRij {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px;
}

figure {
    flex-flow: column;
    border: 10px solid #734002;
    margin-bottom: 20px;
}

img {
    max-width: 220px;
}

figcaption {
    background-color: #A67D03;
    color: #fff;
    font: italic smaller sans-serif;
    text-align: center;
    max-width: 220px;
}

.square {
    height: 130px;
    width: 130px;
    border: 10px solid #734002;
    text-align: center;
    margin-bottom: 20px;
}

.colors p {
    font-size: 15px;
    padding: 15px 0;
}

.wit {
    background-color: #DFF2F0;
}

.geel {
    background-color: #F2E313;
    
}

.groen {
    background-color: #A69B03;
    
}

.donkergroen {
    background-color: #A67D03;
    
}

.bruin {
    background-color: #734002;
    border: 10px solid #DFF2F0;
    color: white;
}

/* Fonts */
.fonts {
    display: flex;
}

.blok {
    border: 5px solid #734002;
    margin:  0 10px;
    text-align: center;
    padding: 20px;
}

.nunito {
    font-family: 'Nunito', Sans-Serif;
    font-size: 25px;
}

.PTSans {
    font-family: 'PT Sans', Sans-Serif;
    font-size: 25px;
}

/* Text Styles */
.text-family {
    margin: 0 auto;
}

.text-style {
    border: 5px solid #734002;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    width: 40vw;
 }

 /* footer */
 footer {
     padding: 0 0 30px 30px;
     font-family: 'PT Sans', Sans-Serif;
}
